@media screen and (max-width: 800px) {
    .lower-header-menu {
        display: block;
    }

    .low-menu-class {
        display: none;
    }

    main {
        padding-left: 5px;
    }

    aside {
        display: block;
    }

    .lower-header:hover .pervious,
    .lower-header:hover .next {
        display: none !important;
    }

.lower-header{
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    padding: 0 !important;
    
}
main{
    padding-top: 90px;
}
.advers{
    display: none;
}
.content{
    padding-right: 10px;
}
}

@media screen and (max-width: 1000px) {
    .lower-header-menu {
        display: block;
    }

    .low-menu-class {
        display: none;
    }

    main {
        padding-left: 5px;
    }

    aside {
        display: block;
    }

    .lower-header:hover .pervious,
    .lower-header:hover .next {
        display: none !important;
    }

.lower-header{
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    padding: 0 !important;
    
}
main{
    padding-top: 90px;
}
.advers{
    display: none;
}
.content{
    padding-right: 10px;
}
}


@media screen and (min-width: 800px) {
    aside {
        display: block;
    }

.lower-header-container{
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    align-items: center;
    justify-content: center;
}
.lower-header{
    padding-left: 10px;
    padding-right: 10px;
}
}